doctype html
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en')
//[if gt IE 8]    ><!
html.no-js(lang='en')
  //<![end if]
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')

  title Coming Soon

  link(rel='shortcut icon', href='img/favicon.png')
  link(rel='apple-touch-icon', href='apple-touch-icon.png')

  link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='css/style.min.css')
  link(rel='stylesheet', href='css/animate.css')
  //- Add modernizr script(src='js/libs/')

body
  include jade/_main-nav.jade
  .site-content
    include jade/_content.jade
  //- include jade/_modals.jade
  include jade/_footer.jade
    
    
  script(src="bower_components/jquery/dist/jquery.min.js")
  script(src="js/animatedModal.min.js")
  script(src="js/main.min.js")
