
nav
  ul
    a#facebook_modal(href="#facebookModal")
      li
        i.fa.fa-facebook
      #facebookModal
        .modal-content
          p Facebook
        
    a#twitter_modal(href="#twitterModal")
      li
        i.fa.fa-twitter
      #twitterModal
        .modal-content
          p Twitter
        
    a#instragram_modal(href="#instagramModal")
      li
        i.fa.fa-instagram
      #instagramModal
        .modal-content
          p Instagram
          
    a#linked_in_modal(href="#linkedInModal")
      li
        i.fa.fa-linkedin
      #linkedInModal
        .modal-content
          p Linked In
          
    a#chat_modal(href="#chatModal")
      li
        i.fa.fa-wechat
      #chatModal
        .modal-content
          p Chat Modal
          
    a#email_modal(href="#emailModal")
      li
        i.fa.fa-envelope
      #emailModal
        .modal-content
          p Email
          
    a#phone_modal(href="#phoneModal")
      li
        i.fa.fa-mobile
      #phoneModal
        .modal-content
          p Phone
          
          

    
